@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.main-app {
  transition: all .8s ease;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  color: #131B20;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  background-color: #f9fafb;
}
.home-banner{
  background-image: url('../public/Code-img.jpg');
  min-height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
    justify-content: center;
    align-items: center;
}

.home-main-content h1 {
  font-size: 48px;
  font-weight: 700;
}

.home-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 700px;
  width: 100%;
  color: #fff;
  gap: 20px;
}
ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-bottom: 0px !important;
}
a{
  text-decoration: none !important;
  color: #000;
}
.container{
  max-width: 100%;
  padding: 0px 16px;
}
.button{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

/* Card Css */

.data-card-layout {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.card {
  --main-color: #000;
  --bg-color: #EBD18D;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: calc(25% - 20px);
  padding: 25px;
  background: var(--bg-color) !important;
  border-radius: 20px;
}

.card__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card___wrapper-acounts {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  cursor: pointer;
}

.card___wrapper-acounts > div:nth-child(2) {
  position: absolute;
  left: 25px;
  z-index: -1;
}

.card___wrapper-acounts > div:nth-child(3) {
  position: absolute;
  left: 50px;
  z-index: -2;
}

.card__score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: var(--main-color);
}

.card__acounts {
  width: 42px;
  height: 42px;
}

.card__acounts svg {
  width: 100%;
  height: 100%;
}

.card__menu {
  width: 40px;
  height: 40px;
  background: #F6DB96;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card__title {
  margin-top: 50px;
  font-weight: 900;
  font-size: 25px;
  color: var(--main-color);
}

.card__subtitle {
  margin-top: 15px;
  font-weight: 400;
  font-size: 15px;
  color: var(--main-color);
}

.card__indicator {
  margin-top: 50px;
  font-weight: 500;
  font-size: 14px;
  color: var(--main-color);
}

.card__progress progress {
  width: 100%;
  height: 4px;
  border-radius: 100px;
}

.card__progress progress::-webkit-progress-bar {
  background-color: #00000030;
  border-radius: 100px;
}

.card__progress progress::-webkit-progress-value {
  background-color: var(--main-color);
  border-radius: 100px;
}

.data-section .section-title {
  margin-bottom: 18px;
}

/* Pagination */

ul.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

ul.pagination li.page-item button {
  padding: 8px 14px;
  border: 2px solid #7d6491;
  border-radius: 5px;
  background: #d0aded;
  color: #000;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

ul.pagination li.page-item button:hover {
  background: #bd86e8;
  color: #fff;
  border-color: #bd86e8;
}

ul.pagination li.page-item.active button {
  background: #7808d0;
  color: #fff;
  border-color: #7808d0;
}

ul.pagination li.page-item:first-child button,ul.pagination li.page-item:last-child button {
  width: 100px;
}

/* Loader CSS */

.loader {
  display: block;
  --height-of-loader: 8px;
  --loader-color: #0071e2;
  width: 250px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0,0,0,0.2);
  position: relative;
  z-index: 999;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

.loader-overlay{
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 0;
}

.loader-layout{
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */

.dc-table {
  width: 100%;
  padding: 35px;
  border-radius: 25px;
  background: #EBD18D;
}

.data-card-layout table {
  width: 100%;
  border-radius: 10px;
  border-collapse: collapse;
}

.crypto-logo-ui {
  display: flex;
  align-items: center;
  gap: 5px;
}

.data-card-layout table thead tr th, .data-card-layout table tbody tr td {
  text-align: left;
  padding: 5px;
  border: 1px solid;
}

.Btn-Container {
  display: flex;
  width: 175px;
  height: fit-content;
  background-color: #fff;
  border-radius: 40px;
  justify-content: space-between;
  align-items: center;
  border: none;
  cursor: pointer;
}
.icon-Container {
  width: 45px;
  height: 45px;
  background-color: #557cf7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 3px solid #fff;
  transform: rotate(90deg);
}
.text {
  width: calc(180px - 45px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1.1em;
  letter-spacing: 1.2px;
  font-weight: 700;
}
.icon-Container svg {
  transition-duration: 1.5s;
}
.Btn-Container:hover .icon-Container svg {
  transition-duration: 1.5s;
  animation: arrow 1s linear infinite;
}
@keyframes arrow {
  0% {
    opacity: 0;
    margin-left: 0px;
  }
  100% {
    opacity: 1;
    margin-left: 10px;
  }
}


@media (min-width:1200px) {
  .container{
    max-width: 1200px;
    padding: 0px 16px;
    margin: 0 auto;
  }
}
